{% extends 'layout.html.twig' %}

{% block title %}
    {% if id %}
        Редактирование категории<small>[{{ id }}]</small>
    {% else %}
        Добавление категории
    {% endif %}
{% endblock %}

{% block content %}
    {{ form_start(form) }}
    <div class="form-group">
        {{ form_row(form.name, { label: 'Название', attr: { class: 'form-control' }  }) }}
    </div>
    {{ form_row(form.save, { attr: { class: 'btn btn-primary btn-lg btn-block' }}) }}
    {{ form_end(form) }}
{% endblock %}